.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/imagenescarrucel/Ubicanos.jpg'), linear-gradient(180deg, #6d06068c 0%, #0000008c 100%);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
    z-index: -1;
}


.hero2 {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Reemplaza la línea de fondo actual con la siguiente línea para agregar la imagen de fondo */
    background-image: url(''), linear-gradient(180deg, #6d06068c 0%, #0000008c 100%);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
    z-index: -1;
}

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #ffffff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}
.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #ffffff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}











body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, transparent 0%, blue 50%, blue 100%);
    background-size: cover;
    background-position: 20% center; /* Ajusta el valor para mover a la derecha */
}

.formulario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta el alto al 100% de la altura de la ventana */
}

.formulario,
.ubicacion {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 35%; /* Ajusta el ancho para que ambos cuadros tengan el mismo tamaño */
    color: #fff;
    position: relative;
}

.formulario::before,
.ubicacion::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('fondoF.png') center center no-repeat fixed;
    background-size: 100%;
    z-index: -1;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0056b3;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #004080;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 400px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 100%;
}
